<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>News Scraper App</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/public/styles/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    {{{body}}}

    <!--js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
    <script src="saved.js"></script>

</body>
<style>
    body{
        background-image: url("https://i.pinimg.com/originals/e9/11/70/e91170f13c00f6484fc957d5429d8179.jpg");
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    img{
        width: 400px;
        border: #373637 2px dashed;
    }

</style>

</html>