
#wrapper{
    widows: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
textarea, input{
    height: 40px;
    font-size: 30px;
}
input{
    height: 40px;
    font-size:20px;
}
textarea{
    height:200px;
    font-size: 20px;
}

.card{
    margin: 20px;
}
.articleColumn{
    margin: 50px;
}
.articleImage{
    width: 200px;
}